footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 40px 0;
}
 <footer>
        <img src="img/guide-jean-paul-gaultier-660dbf735a627.webp>
        <p class="copyright">&copy; Copyright Perfumaria - 2025</p>
    </footer>
    
    <footer>
		<img src="img/Banner-Club-de-Nuit-Intense-Man-Limited-Edition-Parfum-2024-01.webp">
		<p class="copyright">&copy; Perfumaria Le Beau Couple - 2025</p>
	</footer>